<h1> STUPID COACHING</h1>

<div class="box_one">
  <p> <%= @question %></p>
  <p> -You </p>
</div>

<div class="box_one">
  <p> <%= @answer %></p>
  <p> -Your Coach </p>
</div>

<%=  link_to "Ask a question", ask_path%>
