// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  color: grey;
}

.form {
  margin: 10px;
  padding: 10px;
}

p {
 margin: 10px;
 padding-left: 10px;
}

.box_one {
  margin: 10px;
  border-left: solid 5px grey;
}
